
<head>
    <script>
        (function(d) {
          var config = {
            kitId: 'uev0owm',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
    <link rel="stylesheet" href="style.css">
</head>
<html>
<body id="background">
    <div class="timer">
        <a class="timer-text">00:00:00</a>
    </div>
    <div class="button-cluster">
        <button class="button">
            <a class="button-text">Start</a>
        </button>
        <button class="button">
            <a class="button-text">Stop</a>
        </button>
    </div>
    <div class="history">
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a>
        <a class="history-text"> Stuff will go here and it will look cool.<br></a
    </div>
</html>
